<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.demo.dao.IUserDao">
    <resultMap id="User" type="com.inspur.demo.pojo.User">
        <id property="userId" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="age" column="age"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.inspur.demo.pojo.User">
        INSERT INTO user_t(user_name,password,age)
        VALUES (#{userName},#{password},#{age})
    </insert>

    <select id="selectByPrimaryKey" parameterType="integer" resultMap="User">
        SELECT id,user_name,password,age
        FROM user_t
        WHERE id = #{userId}
    </select>

    <update id="updateUser"  parameterType="com.inspur.demo.pojo.User">
        UPDATE user_t
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null">user_name=#{userName,jdbcType=VARCHAR},</if>
            <if test="password!=null">password=#{password,jdbcType=VARCHAR},</if>
            <if test="age!=null">age=#{age,jdbcType=INTEGER},</if>
        </trim>
        WHERE id=#{userId}
    </update>

</mapper>